html,
body {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor:inherit;
  background: black;
  background: radial-gradient(ellipse at bottom, #326096 10%, #090a0f 100%);
  
}


.moon{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 5%;
  margin-left: 10%;
  background: url(assets/moon.png);
  background-size: cover;
  background-repeat: repeat-x;
  position: fixed;
  animation: moon-rotation 90s linear infinite;
  z-index: 999;
  box-shadow: inset 6px 0 8px black,
              inset 20px 0 12px rgba(0, 0, 0,0.9),
              inset -20px 0 12px rgba(248, 248, 213,0.2);


}

.moon::before{
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%); 
  border-radius: 50%;
  width: 95px;
  height: 95px;
  box-shadow: -12px 0 8px black ;
}

@keyframes moon-rotation {
  from {background-position:-500px center;} 
  to {background-position: 495px center;}

  
}








.number{
  font-size: 200px;
  margin-left: 30%;
  margin-top: 10%;
  position: absolute;
  z-index: 99999;
  border: 2px solid black;
  padding: 5%;

}


.landscape {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://openclipart.org/image/2400px/svg_to_png/250847/Trees-Landscape-Silhouette.png);
  background-size: 1450px 350px;
  background-repeat: repeat-x;
  background-position: center bottom;
}

footer{
  position: fixed;
  z-index: 997;
  width: 100%;
  height: 10px;
  bottom: 0;
  background-color: black;
}

